# Environment
.env
*.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
conda-meta/

# OS files
.DS_Store
Thumbs.db

# Raw data
data/raw/nat_gas_2000-2025_Trade_data/

# Generated outputs
data/processed/figures/*.png
data/processed/tables/*.csv

# Excel / temporary files
*.xlsx
~*.xlsx


# Keep directory structure
!data/processed/figures/.gitkeep
!data/processed/tables/.gitkeep
